
<%= form_tag sessions_path do %>


   <fieldset>
    <legend>Login</legend>
      <div class="field sessions" >
        <%= label_tag :username %><br>
        <%= text_field_tag :username, params[:username] %>
      </div>
      <div class="field sessions" >
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>
      </div>

      <div class="actions"><%= submit_tag "Log in" %></div>
  </fieldset>


<% end %>